#home {
    @include flex(flex, center, flex-end);
    height: calc(50vh + 100px);
    width: 100%;
    background-color: $color-2;
}
#sevices {
    @include flex(flex, center, center);
    height: 50vh;
    width: 100%;
}
#about {
    @include flex(flex, center, center);
    height: 50vh;
    width: 100%;
}
#quality {
    @include flex(flex, center, center);
    height: 50vh;
    width: 100%;
}